.wrapper
  = render 'shared/side_bar'
  .chat-main
    .main-header
      .main-header__left-box
        .main-header__left-box__current-group
          a
        .main-header__left-box__member-list
          Member : 
        .main-header__left-box__member-list__member
          taro121212
      .main-header__edit-btn
        = link_to "Edit", "edit_group_path(@group.id)", class: "btn"
    .messages
      .message
        .message__upper-info
          .message__upper-info__talker
            taro121212
          .message__upper-info__date
            2019/08/09(Fri) 00:41:27
        .message__text
          saa
    .form
      .new_message
        .input-box
          .input-box__text
            type a message
            .input-box__image
              = fa_icon 'image'
        .submit-btn
          send